@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <div class="col-lg-12">
        <img src="/images/portada.jpg" style="max-width:inherit;" />
    </div>
</div>