

    <div class="text-center">
        <div class="row">
            <div class="offset-4 col-md-4 offset-4">
                <h2 style="color:green;">@ViewBag.mensaje</h2>
            </div>
        </div>
    </div>